<%- include('./header.ejs') %>




    <div class="databody">
        <div class="hero">
            <h4>Trade-in-offer</h4>
            <h2>Super Value Deals</h2>
            <h1> On all Products</h1>
            <p>Save more with coupons & up to 70% off!!</p>
            <a href="/shopping"><button>Shop Now</button></a>
        </div>




        <% if (products.length>= 0){ %>
            <% for (let i=0; i< products.length; i++) {%>
                <div class="perpost">
                    <a href=/product/<%=products[i].p_id %>> <h2>Product Name: <%= products[i].p_name %>
                        </h2></a>
                    <p>Product Description:<%= products[i].p_description %>
                    </p>
                    <p>Product Price:<%= products[i].p_price %>
                    </p>
                    <p>Uploaded Time:<%=new Date(products[i].Date).getDate() %>/<%= new
                                Date(products[i].Date).getMonth() %>/<%= new Date(products[i].Date).getFullYear()%>
                    </p>
                    <p>Seller ID:<%= products[i].User_id %>
                    </p>
                    <br>
                    <% if (logedIn==products[i].User_id) {%>
                        <a href=/<%=products[i].p_id %>/remove ><button>Delete Item</button></a>
                        <% } %>
                </div>
            <% } %>
        <% } %>

    </div>
<div class="itemfeature">
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../img.png" alt="">
            <h6>Free Shipping</h6>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../ban.jpg" alt="">
            <h6>Online Order</h6>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../toydoll.jpeg" alt="">
            <h6>Save Money</h6>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../img_m.jpg" alt="">
            <h6>promotions</h6>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../logo.jpg" alt="">
            <h6>Happy Sell</h6>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../img.png" alt="">
            <h6>F24/7 Support</h6>
        </div>
    </section>
</div>

<!-- Feature Products -->
<div>
    <h2 style="text-align: center;padding: 10px;">Featured Products</h2>
    <p style="text-align: center;padding: 10px;"> Winter Collection New Modern Design</p>
</div>
<div class="feapro">
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$175</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Bata</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$101</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Pollo</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$105</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$65</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$771</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>


    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$705</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$175</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../toydoll.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$70</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>
</div>

<!-- Banner -->

<div>
    <section id="banner" class="section-p2">
        <h4> Repair Service</h4>
        <h2> Up to <span>70% Off</span> - All T-shirt & Accessories </h2>
        <button class="normal"> Explore More</button>

    </section>
</div>

<!-- new Arrival Products -->
<div>
    <h2 style="text-align: center;padding: 10px;">New Arrival</h2>
    <p style="text-align: center;padding: 10px;"> Winter Collection New Modern Design</p>
</div>
<div class="feapro">
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$175</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t2.jpg" alt="">
                <div class="des">
                    <span>Bata</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$101</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t3.jpg" alt="">
                <div class="des">
                    <span>Pollo</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$105</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t4.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$65</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t5.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$771</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>


    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t3.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$705</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="../t7.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$175</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img style="width: 270px; " src="../t8.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h6>Cartoon Astronaut T-shirt</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$70</h4>
                </div>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </section>
</div>

<!-- Action Banner -->

<div>
    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy Deals</h4>
            <h2> Buy 1 get 1 free</h2>
            <span>The Best Classic Dress is on Sale at Here</span>
            <button class="white"> Learn More</button>
        </div>

        <div class="banner-box banner-box2">
            <h4>Summer/Winter</h4>
            <h2> Upcoming Season</h2>
            <span>The Best Classic Dress is on Sale at Here</span>
            <button class="white"> Collection</button>
        </div>
    </section>
</div>

<!-- Photo Banner -->
<div>
    <section id="banner3">
        <div class="banner-box">
            <h2> SEASONAL SALE</h2>
            <H3>Winter Collection -50% OFF</H3>
        </div>

        <div class="banner-box banner-box2">
            <h2> SEASONAL SALE</h2>
            <H3>Winter Collection -50% OFF</H3>
        </div>

        <div class="banner-box banner-box3">
            <h2> SEASONAL SALE</h2>
            <H3>Winter Collection -50% OFF</H3>
        </div>
    </section>
</div>

<!-- newletter part -->

<div>
    <section id="newsletter"  class="section-p1 section-p2">
        <div style="padding-left: 10px;" class="newstext">
            <h4> Sign Up for Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>Special Offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
</div>


<%- include('./footer.ejs') %>