<%- include('./header.ejs') %>

<div class="post">
    <h2>
        Here Product Details.
    </h2>
    <p>Product Name: <%= row.p_name %></p>
    <p>Product Price: <%= row.p_price %> </p>
    <br>
   <% if(row.p_img){ %> 
    <p>Product img: <img src=../<%= row.p_img %> /></p>
    <%} else {%>
    <p>Product img: No Image Present At This Moment</p>
    <% } %>
    <button>Buy Now</button>
    <button>Add To Cart</button>
    <br>
    <br>
    <p>Product Description: <%= row.p_description %></p>

</div>
<!-- products details -->

<section id="prodetails" class="section-p1">
    <div class="single-pro-img">
        <img src="./banner.jpg" width="100%" id="mainImg" alt="">
        <div class="small-img-group">
            <div class="small-img-col">
                <img src="./banner.jpg" alt="">
            </div>

            <div class="small-img-col">
                <img src="./banner.jpg" alt="">
            </div>

            <div class="small-img-col">
                <img src="./banner.jpg" alt="">
            </div>

            <div class="small-img-col">
                <img src="./banner.jpg" alt="">
            </div>
        </div>
    </div>
    <div></div>

</section>

<!-- newletter part -->

<div>
    <section id="newsletter"  class="section-p1 section-p2">
        <div class="newstext">
            <h4> Sign Up for Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>Special Offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
</div>
    

<%- include('./footer.ejs') %>