<%- include('./header.ejs') %>

<div class="databody">
<% if (product.length >= 0){ %>
    <% for (let i=0; i< product.length; i++) {%>
    <div class="perpost">
       <a href=/product/<%= product[i].p_id %>> <h2>Products Name: <%= product[i].p_name %></h2></a>
        <p>Products Description:<%= product[i].p_description %></p>
        <p>Products Price:<%= product[i].p_price %></p>
        <p>Uploaded Time:<%=new Date(product[i].Date).getDate() %>/<%= new Date(product[i].Date).getMonth() %>/<%= new Date(product[i].Date).getFullYear()%></p>
        <p>Seller ID:<%= product[i].User_id %></p> 
        <br>
        <% if (logedIn == product[i].User_id) {%>
        <a href=/<%= product[i].p_id %>/remove ><button>Delete Item</button></a>
        <% } %>
    </div>
    <% } %>
<% } %>
<!-- </div>

<div class="databody"> -->
    <div class="page-header">
        <h2>#StayHome and Shopping Here</h2>
        <p>Save more with coupons & up to 70% off!!</p>
    </div>
</div>


<!-- Feature Products -->

<div class="feapro">
<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$175</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Bata</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$101</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Pollo</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$105</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$65</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$771</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>


<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$705</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$175</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$70</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<!-- new Arrival Products -->
<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t1.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$175</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t2.jpg" alt="">
            <div class="des">
                <span>Bata</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$101</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t3.jpg" alt="">
            <div class="des">
                <span>Pollo</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$105</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t4.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$65</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t5.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$771</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>


<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t3.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$705</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../t7.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$175</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img style="width: 270px; " src="../t8.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$70</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$175</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Bata</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$101</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Pollo</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$105</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro">
            <img src="../toydoll.jpeg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h6>Cartoon Astronaut T-shirt</h6>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$65</h4>
            </div>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
</section>

</div>

<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#"><i class="fal fa-long-arrow-alt-righht"></i>Next</a>

</section>

<!-- newletter part -->

<div>
<section id="newsletter"  class="section-p1 section-p2">
    <div class="newstext">
        <h4> Sign Up for Newsletter</h4>
        <p>Get E-mail updates about our latest shop and <span>Special Offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal">Sign Up</button>
    </div>
</section>
</div>




<%- include('./footer.ejs') %>